<h2>Users info</h2>

<% @users.each do |user| %>

  <h3>Name: <%= user.username %></h3>
  <p>Id: <%= user.id %> </p>
  <p> Email: <%= user.email %></p>
  <p> Image_data: <%= user.image_data %></p>
  <p> User info: <%= user.info %></p>

  <p> Photos count: <%# user.photos.count %>  </p>
  <p> <%# link_to "User photos", user_photos_path(user.id) %>  </p>

  <div><%# post.body %></div>
  <span>
  <%= link_to "Add new user", new_user_registration_path %> |
  <%= link_to 'Edit', edit_user_path(user) %> |
  <%= link_to 'Delete',
                user_path(user),
                method: :delete,
                data: { confirm: 'User will be deleted! Are you sure?' } %></span>
<% end %>