<div class="page-header" style="text-align: center"><h4><%= @post.title %></h4></div>
<%= flash[:message]%>

<div><%= @post.body %></div>
<br/>

<%# if @post.image_data? %>

  <%# image_tag @user.photos.image_url %>
  <span> <%#TODO# link_to 'Edit', edit_user_photo_path(@user.id, photo) %></span>
<%# end %>
<div class="container-fluid" style="grid-column: auto">
<% if @post.photos.present? %>
  <% @post.photos.each do |photo| %>
    <div><%= photo.title %></div>
    <div><%= image_tag photo.image_url(:small) %></div>
      <%= link_to 'Edit photo', edit_user_post_photo_path(@user.id, @post.id, photo.id), class: 'btn btn-warning' %>
    <% end %>
<% end %>
<br/>
</div>
<%= link_to 'Add photo', new_user_post_photo_path(@user.id, @post.id) %> | <br/>

<%= link_to 'Edit post', edit_user_post_path(@post.user_id, @post.id) %> |
<%= link_to 'Delete post',
            user_post_path(@post.user_id, @post.id),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<br/><br/>

<b>Comments to this post:</b>
<blockquote class="blockquote">
  <p class="mb-0">
    <% if @post.comments.exists? %>
      <% @post.comments.each do |comment| %>
      <footer class="blockquote-footer"><cite title=><%= comment.body %></cite> </footer>
  <% end %>
<% else %>
  <div>No comments to this post.</div>
<% end %>
</blockquote>
<%= link_to 'Add comment', new_user_post_comment_path(@user.id, @post.id) %>
<hr>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: auto; height: 300px">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/one.png" class="d-block w-100" alt="...">
    </div>
      <% @post.photos.each do |photo| %>
        <div class="carousel-item">
          <div><%= image_tag photo.image_url(:small) %></div>
        </div>
      <% end %>
  </div>

</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>